@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  background-color: hsl(0, 0%, 13%, 1);
  width: 4px;
  cursor: pointer;
  border-radius: 0.375rem;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e7bd5a;
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  height: 20px;
}
